<h3>My Shopping Bag</h3>

<table class="table table-bordered table-responsive" id="product-table">
    <thead>
      <tr>
        <th>Product Name</th>
        <th>Quantity</th>
        <th>Price Details</th>
        <th>Order Total</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of shoppingBag">
        <td>{{ item.name }}</td>
        <td>{{ item.quantity }}</td>
        <td>{{ item.price }}</td>
        <td>0.00</td>
        <td>X</td>
      </tr>
    </tbody>
  </table>